In [2]:
import pandas as pd
import xml.etree.ElementTree as ET
import numpy as np
import urllib.request
import urllib.parse
import json
import random

In [2]:
tree = ET.parse('data/volnamista/vm20150723.xml')
root = tree.getroot()

In [3]:
out = {}

In [4]:
for misto in root:
    uid = misto.attrib['uid']
    celkemVm = misto.attrib['celkemVm']
    out[uid] = {'celkemVm': celkemVm}
    for val in misto:
        tag = str(val.tag).split('}')[1]
        for attr in val.attrib:
            out[uid][tag + '_' + attr] =  val.attrib[attr]

In [5]:
outFrame = pd.DataFrame.from_dict(out, orient='index')

In [6]:
outFrame.columns

Index(['MZDA_min', 'MODRE_KARTY_pocetVmProMk', 'PRACPRAVNI_VZTAH_kod',
       'UVAZEK_kod', 'ZELENE_KARTY_vmRezervProVyhovZk', 'URAD_PRACE_nazev',
       'PRACOVISTE_okresKod', 'MZDA_max', 'ZAMEST_KARTY_vmRezervProVyhovZm',
       'PRACOVISTE_psc', 'MODRE_KARTY_vmRezervProPodanMk',
       'ZELENE_KARTY_celkemVmProZk', 'ZAMEST_KARTY_vmRezervProZm',
       'ZAMEST_KARTY_celkemVmProZm', 'MIN_VZDELANI_nazev',
       'ZELENE_KARTY_vmRezervProPodanZk', 'VHODNE_PRO_absolventyVs',
       'VHODNE_PRO_ozp', 'MODRE_KARTY_vmRezervProVydanMk', 'PRACOVISTE_cobce',
       'MIN_VZDELANI_kod', 'VHODNE_PRO_bezbar', 'VHODNE_PRO_absolventySs',
       'PROFESE_nazev', 'ZAMEST_KARTY_pocetVmProZm',
       'MODRE_KARTY_celkemVmProMk', 'PRACOVISTE_okres', 'OBOR_nazev',
       'URAD_PRACE_kod', 'PROFESE_doplnek', 'MODRE_KARTY_vmRezervProVyhovMk',
       'ZAMEST_KARTY_vmRezervProVydanZm', 'MODRE_KARTY_vmRezervProMk',
       'PROFESE_kod', 'ZELENE_KARTY_typZk', 'ZELENE_KARTY_klicovyPersonal',
       'ZELENE_KARTY_vmRezervProVydanZk', 'FIRMA_ic', 'PRAC_POMER_od',
       'FIRMA_nazev', 'PRACOVISTE_cp', 'SMENNOST_nazev',
       'ZAMEST_KARTY_vmRezervProPodanZm', 'OBOR_kod', 'UVAZEK_nazev',
       'celkemVm', 'PRACOVISTE_obec', 'VHODNE_PRO_cizince', 'SMENNOST_kod',
       'KONOS_email', 'KONOS_jmeno', 'PRACPRAVNI_VZTAH_nazev',
       'ZELENE_KARTY_pocetVmProZk', 'KONOS_prijmeni', 'PRACOVISTE_posta',
       'PRACOVISTE_nazev', 'ZELENE_KARTY_vmRezervProZk', 'PRACOVISTE_co',
       'KONOS_telefon', 'PRACOVISTE_ulice', 'PRAC_POMER_do', 'VZDELANI_nazev',
       'POVOLANI_kod', 'VZDELANI_kod', 'POVOLANI_nazev', 'JAZYK_nazev',
       'DOVEDNOST_nazev', 'JAZYK_kod', 'KONOS_adresa', 'JAZYK_uroven',
       'DOVEDNOST_kod', 'JAZYK_urovenKod', 'KONOS_titul', 'FIRMA_www',
       'VYHODA_kod', 'VYHODA_nazev', 'VYHODA_popis', 'KONOS_titulZa',
       'DOVEDNOST_popis', 'JAZYK_popis', 'DOVEDNOST_praxe', 'POVOLANI_praxe'],
      dtype='object')

In [9]:
outFrame.OBOR_nazev.value_counts()

Výroba a provoz            14147
Obchod a cestovní ruch      8987
Služby                      3945
Doprava                     2876
Stavebnictví                2541
Zdravotnictví               2055
Obrana a ochrana            1677
Výchova a vzdělávání        1301
Finance                     1243
Administrativa              1097
Informační technologie       912
Zemědělství a lesnictví      857
Management                   209
Kultura a sport              165
Právo                         76
Věda a výzkum                 48
dtype: int64

In [15]:
def addrjoin(ul, cp, ob):
    if (ul == ul):
        return ul + ' ' + str(cp) + ', '+ ob
    else:
        return str(cp) + ', ' + ob

In [17]:
outFrame['addr'] = outFrame.apply(lambda row: addrjoin(row['PRACOVISTE_ulice'], row['PRACOVISTE_cp'], row['PRACOVISTE_obec']), axis=1)

In [22]:
def gcode(address):
    params = urllib.parse.urlencode({'SearchText': address, 'ExtraInformation': 'standard'})
    url = "http://localhost/ruian/rest.py/Geocode/json?&%s" % params
    with urllib.request.urlopen(url) as f:
        jsn = json.loads(f.read().decode('utf-8'))
        if (len(jsn['records']) == 0):
            return np.nan, np.nan
        else:
            coords = jsn['records'][random.randint(0, len(jsn['records'])-1)]
            return (float(coords['JTSKY']) * -1, float(coords['JTSKX']) * -1)

In [23]:
buffer = {}

In [24]:
unmatched = pd.read_csv(r'scratch/unmatched.txt')

In [30]:
unmatched['x'] = np.nan
unmatched['y'] = np.nan

In [40]:
#geocoder
for i, row in unmatched.iterrows():
    if (row[3] == row[3]):
        continue
    else:
        if ((i % 100) == 0):
            print(i)
        if row[2] not in buffer:
            crds = gcode(row[2].replace('nan, ', ''))
            unmatched.ix[i, 3] = crds[0]
            unmatched.ix[i, 4] = crds[1]

            buffer[row[2]] = {'X': crds[0],'Y': crds[1]}
        else:
            unmatched.ix[i, 3] = buffer[row[2]]['X']
            unmatched.ix[i, 4] = buffer[row[2]]['Y']

300
700
1200
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100

In [20]:
outFrame.to_csv(r'data/adresy2.csv', encoding='utf-8')

In [48]:
unmatched

      OID        Field1                         addr          x           y
0      -1  1.198421e+09                 118, Všeruby -857227.25 -1110310.63
1      -1  1.334408e+08                245, Vinařice -765369.81 -1031042.99
2      -1  1.344691e+09                 236, Všeruby -831706.38 -1057788.50
3      -1  1.368151e+09                135, Zahořany -855236.92 -1100182.84
4      -1  1.381508e+08                100, Rozvadov -878804.56 -1068553.88
5      -1  1.395307e+08                102, Studenec -656704.00 -1001593.00
6      -1  1.411708e+08                102, Studenec -656704.00 -1001593.00
7      -1  1.509407e+08                  118, Blatno -640311.36 -1092762.19
8      -1  1.524531e+09                 397, Podlesí        NaN         NaN
9      -1  1.558011e+09                125, Litomyšl -611514.82 -1082878.34
10     -1  1.558871e+09                  337, Dobřív -800548.99 -1076428.15
11     -1  1.630261e+09            č.e. 905, Čeladná        NaN         NaN
12     -1  1.636161e+09              271, Jaroměřice -651277.56 -1165703.00
13     -1  1.650151e+09               132, Bojkovice -512472.90 -1186866.02
14     -1  1.666281e+09                 115, Hajnice -633283.38 -1011654.94
15     -1  1.778111e+09              nan, Chvalovice -643089.74 -1201238.54
16     -1  1.884761e+09              nan, Bratkovice -777872.29 -1076804.60
17     -1  1.955108e+08   Puchmayerova 119, Chomutov        NaN         NaN
18     -1  1.975641e+09               457, Palkovice -470493.81 -1121924.79
19     -1  1.994541e+09                  23, Částkov -525535.77 -1177896.33
20     -1  2.145201e+09        Pražská nan, Chomutov        NaN         NaN
21     -1  2.214571e+09                    95, Brloh -773843.19 -1170083.09
22     -1  2.228908e+08                173, Těšetice -556312.49 -1120817.34
23     -1  2.233411e+09                     26, Dubá -730121.07  -990691.74
24     -1  2.235251e+09                     27, Dubá -727141.68  -993240.51
25     -1  2.252931e+09                245, Vinařice -765369.81 -1031042.99
26     -1  2.328011e+09     Průmyslová 2067, Svitavy        NaN         NaN
27     -1  2.435391e+09                  215, Vlčice -636509.28 -1001137.88
28     -1  2.455521e+09  Okružní 7, České Budějovice -753445.79 -1164474.08
29     -1  2.493421e+09                    48, Lomec -684457.02 -1076097.60
...   ...           ...                          ...        ...         ...
9108   -1  9.271981e+09               103, Nechanice -655742.10 -1037180.36
9109   -1  9.272011e+09                 220, Sloupno -664195.46 -1034811.94
9110   -1  9.272101e+09                     1, Plzeň -856328.27 -1088432.62
9111   -1  9.272151e+09                     1, Plzeň -856328.27 -1088432.62
9112   -1  9.272161e+09                     1, Plzeň -856328.27 -1088432.62
9113   -1  9.272181e+09                     1, Plzeň -856328.27 -1088432.62
9114   -1  9.272191e+09                     1, Plzeň -856328.27 -1088432.62
9115   -1  9.272291e+09                   nan, Praha -731245.66 -1053053.24
9116   -1  9.272311e+09                   nan, Praha -731245.66 -1053053.24
9117   -1  9.272341e+09                   34, Hořice -651960.83 -1022371.56
9118   -1  9.272441e+09      Lorecká 665, Kutná Hora        NaN         NaN
9119   -1  9.272471e+09                  40, Bohuňov -603804.43 -1115006.49
9120   -1  9.272491e+09                  40, Bohuňov -603804.43 -1115006.49
9121   -1  9.272501e+09                   1, Blízkov -645667.95 -1130689.96
9122   -1  9.272551e+09                  nan, Ovčáry -685069.44 -1053351.63
9123   -1  9.272661e+09                   nan, Opava -496313.06 -1087086.13
9124   -1  9.272701e+09                 153, Liberec -745049.56  -964595.22
9125   -1  9.273041e+09                 220, Jeníkov        NaN         NaN
9126   -1  9.273201e+09        Plzeňská 2199, Blatná        NaN         NaN
9127   -1  9.273211e+09                16, Drahonice -778714.88 -1136337.50
9128   -1  9.273271e+09                 23, Ostředek -719009.75 -1073888.03
9129   -1  9.273281e+09                 23, Ostředek -719009.75 -1073888.03
9130   -1  9.273301e+09                  33, Divišov -709069.00 -1082359.00
9131   -1  9.273321e+09               112, Struhařov -723511.77 -1081528.00
9132   -1  9.273341e+09                  186, Nemile -573302.97 -1087193.15
9133   -1  9.273421e+09                      4, Ublo        NaN         NaN
9134   -1  9.273441e+09                      4, Ublo        NaN         NaN
9135   -1  9.273451e+09                101, Kaňovice -462478.68 -1110961.36
9136   -1  9.273461e+09                      4, Ublo        NaN         NaN
9137   -1  9.845808e+08                  528, Staříč -472769.82 -1116466.28

[9138 rows x 5 columns]

In [47]:
unmatched.to_csv(r'data/unmatched_aftermatch.csv', encoding='utf-8')

In [3]:
#importer
dat = pd.read_csv(r'data/unmatched_aftermatch.csv')

In [4]:
dat.to_excel(r'data/unmatched_aftermatch.xlsx', index=False)